.article {
  display: grid;
  grid-template-columns: minmax(10%, 40px) auto;
  border-radius: 0.5em;
  margin-bottom: 2rem;
}

.article__content {
  flex: 1;
  margin-left: 1em;
}

.article__header {
  margin-bottom: 1rem;
}

.article__title {
  margin: 0;
}

.article__subtitle {
  color: var(--color-gray-90);
}

.article__list {
  list-style: none;
  padding-left: 0;
}

.article__text {
  white-space: pre-line;
}