---
title: Blog | Mirco Bellagamba
layout: layouts/home.njk
eleventyNavigation:
  key: Blog
  order: 2
---

<section class="section">
  <h1 class="section__title">Blog.</h1>
  <div class="section__card">
    {% set postslist = collections.posts %}
    {% include "postslist.njk" %}
  </div>
</section>

{% include "connect.njk" %}
