---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
numberOfLatestPostsToShow: 3
---
<p class="textblock">
	Hi, I'm Mirco.
	<br/>I enjoy crafting quality software for <span class="textblock--highlighted">people</span>.
</p>
{% set postsCount = collections.posts | length %}
{% set latestPostsCount = postsCount | min(numberOfLatestPostsToShow) %}
<section class="section section--visible">
	<h1 class="section__title">
			Latest {{ latestPostsCount }} Post{% if latestPostsCount != 1 %}s{% endif %}.
		</h1>
	<div class="section__card">
		{% set postslist = collections.posts | head(-1 * numberOfLatestPostsToShow) %}
		{% set postslistCounter = postsCount %}
		{% include "postslist.njk" %}

		{% set morePosts = postsCount - numberOfLatestPostsToShow %}
		{% if morePosts > 0 %}
			<p>{{ morePosts }} more post{% if morePosts != 1 %}s{% endif %} can be found in <a href="/blog/">the archive</a>.</p>
		{% endif %}
	</div>
</section>

<section class="section section--visible">
	<h1 class="section__title">Main tags.</h1>
	<div class="section__card">
		<ul class="post-metadata">
			{% for tag in collections.all | getAllTags | filterTagList | limitToTen %}
				{% set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
				<li>
					<a href="{{ tagUrl }}" class="post-tag tag-badge">{{ tag }}</a>
				</li>
			{% endfor %}
		</ul>
		<p>See <a href="/tags/">all tags</a>.</p>
	</div>
</section>

{% include "connect.njk" %}
{# List every content page in the project #}
{#
<ul>
	{%- for entry in collections.all %}
	<li><a href="{{ entry.url }}"><code>{{ entry.url }}</code></a></li>
	{%- endfor %}
</ul>
#}