---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - post
    - posts
    - tagList
  addAllPagesToCollections: true
layout: layouts/home.njk
eleventyComputed:
  title: Tagged “{{ tag }}”
permalink: /tags/{{ tag | slugify }}/
---
<section class="section">
  <h1 class="section__title">Tagged “{{ tag }}”.</h1>
  <div class="section__card">

    {% set postslist = collections[tag] %}
    {% include "postslist.njk" %}

    <p>See <a href="/tags/">all tags</a>.</p>
  </div>
</section>

{% include "connect.njk" %}
