.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: var(--space-m);
  padding: var(--space-m);
}

.title {
  margin: 0;
  font-size: x-large;
}

@media screen and (min-width: 600px) {
  .title {
    font-size: revert;
  }
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 1;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--bg);
  transform-origin: top right;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.menu[data-menu-open="false"] {
  opacity: 0;
  transform: scale(0, 0);
}

@media screen and (min-width: 600px) {
  .menu[data-menu-open] {
    display: flex;
    flex-direction: row;
    position: static;
    opacity: 1;
    transform: scale(1, 1);
  }
}

.menu a {
  margin: 0 var(--space-xs);
  padding: var(--space-xs) var(--space-s);
  border-radius: 0.25rem;
}

.current {
  background-color: var(--text-link-background);
  color: var(--text-link);
}

.toggle {
  background: none;
  border: none;
  padding: 0;
  display: inline-flex;
  cursor: pointer;
}

@media screen and (min-width: 600px) {
  .toggle {
    display: none;
  }
}

.close {
  position: absolute;
  display: inline-flex;
  color: var(--text-link);
  top: var(--space-m);
  right: var(--space-m);
  padding: 0;
}

@media screen and (min-width: 600px) {
  .close {
    display: none;
  }
}
