.toggleButton {
  background: none;
  border: none;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.toggleButton > svg {
  fill: var(--text-link);
}

.toggleButton:hover {
  opacity: 0.9;
}

.text {
  color: var(--text-link);
  font-size: 18px;
  margin-right: var(--space-xs);
}

@media screen and (min-width: 600px) {
  .text {
    display: none;
  }
}
