{%- css %}{% include "public/css/cookies.css" %}{% endcss %}
<div class="cookies cookies--hidden">
  <strong>Cookies 🍪</strong>
  <p class="cookies__informative">
    This site uses cookies to deliver and enhance the quality of its services
    and to analyze traffic as specified in the <a href="/privacy-policy">Privacy policy</a>.
    If you agree, you'll help me to understand which type of content is more interesting for my audience.
  </p>
  <button id="cookies-accept-button" class="btn btn--primary">Agree</button>
  <button id="cookies-deny-button" class="btn">No, thanks</button>
</div>