<meta property="og:type" content="article">
<meta property="og:title" content="{{ title or metadata.title }}">
<meta property="og:description" content="{{ description or metadata.description }}">
<meta property="og:image" content="{{ image or metadata.image }}">
<meta property="og:url" content="{{ canonicalUrl or page.url }}">
<meta property="og:site_name" content="mircobellagamba.com">
