<section class="section section--visible">
  {%block heading %}
    <h2 class="section__title">{% block title %}{% endblock %}.</h2>
  {% endblock %}
  <div class="section__card">
    {% block content %}{% endblock %}
  </div>
</section>
