<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:url" content="{{ canonicalUrl or page.url }}">
<meta name="twitter:creator" content="@{{ metadata.author.social.twitter }}">
<meta name="twitter:title" content="{{ title or metadata.title }}">
<meta name="twitter:description" content="{{ description or metadata.description }}">
<meta name="twitter:image" content="{{ image or metadata.image }}">
