.container {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.connect {
  display: grid;
  gap: var(--space-m);
}

@media screen and (min-width: 600px) {
  .connect {
    grid-template-columns: auto 30%;
  }
}

.socials {
  display: flex;
  justify-content: center;
  margin-top: var(--space-l);
  margin-bottom: var(--space-m);
}

.social {
  padding: var(--space-s);
  margin: var(--space-m);
  border-radius: 50%;
  display: flex;
  justify-content: center;
}

.social[aria-label="twitter"] > svg {
  fill: #1da1f2;
}

.social[aria-label="github"] > svg {
  fill: #000000;
}

.social[aria-label="linkedin"] > svg {
  fill: #006097;
}

.social[aria-label="twitter"] {
  background-color: var(--bg-twitter);
}

.social[aria-label="github"] {
  background-color: var(--bg-github);
}

.social[aria-label="linkedin"] {
  background-color: var(--bg-linkedin);
}

.social > svg {
  width: 1.8rem;
  height: 1.8rem;
}

.links {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--space-m);
  margin-top: var(--space-l);
  margin-bottom: var(--space-m);
}

.links > a {
  text-align: center;
}

.quote {
  border: 0;
  padding: var(--space-m);
  width: 100%;
  margin: auto;
  text-align: center;
  color: var(--text-secondary);
}
