.item {
  display: flex;
  align-items: center;
}

.image {
  margin: var(--space-s);
}

.link {
  box-shadow: none;
  line-height: 0;
  margin: 0 var(--space-xs);
}

.link > svg {
  width: 1.25rem;
  height: 1.25rem;
  flex-shrink: 0;
}

.sync {
  margin: 0 var(--space-s);
  display: none;
}

@media screen and (min-width: 900px) {
  .sync {
    display: flex;
    align-items: center;
    animation: hide 0.1s 10s linear forwards;
  }
}

.sync > svg {
  width: 1rem;
  height: 1rem;
  margin: 0 var(--space-xs);
  animation: spin 1s linear infinite;
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes hide {
  100% {
    visibility: hidden;
  }
}

.info {
  display: none;
}

@media screen and (min-width: 600px) {
  .info {
    display: flex;
    align-items: center;
  }
}

.info > small {
  margin: 0 var(--space-s);
}
