---
layout: layouts/base.njk
---
<p class="mainsentence">
	<strong class="mainsentence__title">Hi, I'm Mirco.</strong>
	I enjoy crafting quality software for <span class="mainsentence--highlighted">people</span>.
</p>
<a href="/about">About me</a>
{{ content | safe }}
